<ion-header>
  <ion-navbar>
    <ion-title>ChatBot</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <div class="chats">
      <div class="chatbox">
        <div *ngFor="let chat of chats">
          <div class="message sent" *ngIf="chat.type!=='bot' && chat.isMe">
            {{chat.message}}
            <span class="metadata">
              <span class="time">{{chat.createdAt | date: 'HH:mm aaa'}}</span>
            </span>
          </div>
          <div class="message received"  *ngIf="chat.type =='bot' && !chat.isMe">
            {{chat.message}}
            <span class="metadata">
              <span class="time">{{chat.createdAt | date: 'HH:mm aaa'}}</span>
            </span>
          </div>
        </div>
      </div>
      </div>

  <ion-footer>
      <p text-center *ngIf="sending">sending...</p>
      <div class="flex-items" padding>

          <ion-input [(ngModel)]="message" name="message" class="input_message" placeholder="send message ..."></ion-input>
          <ion-icon (click)="sendMessage()" class="send" name="send"></ion-icon>
        </div>
  </ion-footer>
</ion-content>
